<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADwNlYoU5c0xi1UI_Caee7wmpA5oqCfmo</string>
	<key>GCM_SENDER_ID</key>
	<string>826006530074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pahingapp.sleep</string>
	<key>PROJECT_ID</key>
	<string>pahingapp-sleep</string>
	<key>STORAGE_BUCKET</key>
	<string>pahingapp-sleep.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826006530074:ios:c6a44da2ae7a8b91b049a3</string>
</dict>
</plist>